table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  } */

  th{
    background: #2f3e4a;
    text-align: center;
    color:#ffffff;
    height:70px;
  }

  td{
    text-align: center;
    padding: 10px;
  }

  td:nth-child(1) {  
    text-align: left;
  }

  td:nth-child(even){
    background: #dddee0;
  }

  .text-small{
    font-size: 12px;
  }

  .text{
    font-size: 22px;
  }

  .price-matchs {
    font-size: 0;
    width: 230px;
    margin: 0 auto;
    overflow: hidden;
    line-height: 0;
}

.price-ball {
    display: inline-block;
    height: 29px;
    vertical-align: top;
    width: 29px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 3px;
}

.price-ball.gray {
    background-color: #dddee0;
}

.price-plus {
    width: 12px;
    display: inline-block;
    color: black;
    font-size: 16px;
    line-height: 29px;
    margin-left: 3px;
    margin-right: 3px;
}

.price-ball.red.star {
    background-image: url(https://s3.amazonaws.com/cdn.powerball.com/drupal/themes/rapid/images/home/ball-powerball-red.svg);
}

.price-ball.red {
    background-color: #d1372d;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}