<div class="container-1">
    <h1>Powerball Odds Calculator</h1>
    <table>
        <tr>
            <th>Match</th>
            <th>Prize</th>
            <th>
                <span class="text-small">Power Play</span><br>
                <span class="text">2X</span>
            </th>
            <th>
                <span class="text-small">Power Play</span><br>
                <span class="text">3X</span>
            </th>
            <th>
                <span class="text-small">Power Play</span><br>
                <span class="text">4X</span>
            </th>
            <th>
                <span class="text-small">Power Play</span><br>
                <span class="text">5X</span>
            </th>
            <th>
                <span class="text-small">Power Play</span><br>
                <span class="text">10X</span>
            </th>
        </tr>
        <tr>
            <td>
                <div class="price-matchs">
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                    <span class="price-plus">+</span>
                    <span class="price-ball red star"></span>
                </div>
            </td>
            <td>Grand Prize</td>
            <td>Grand Prize</td>
            <td>Grand Prize</td>
            <td>Grand Prize</td>
            <td>Grand Prize</td>
            <td>Grand Prize</td>
        </tr>
        <tr>
            <td>
                <div class="price-matchs">
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                </div>
            </td>
            <td>$1 Million</td>
            <td>$2 Million</td>
            <td>$2 Million</td>
            <td>$2 Million</td>
            <td>$2 Million</td>
            <td>$2 Million</td>
        </tr>
        <tr>
            <td>
                <div class="price-matchs">
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                    <span class="price-plus">+</span>
                    <span class="price-ball red star"></span>
                </div>
            </td>
            <td>$50,000</td>
            <td>$100,000</td>
            <td>$150,000</td>
            <td>$200,000</td>
            <td>$250,000</td>
            <td>$500,000</td>
        </tr>
        <tr>
            <td>
                <div class="price-matchs">
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                </div>
            </td>
            <td>$100</td>
            <td>$200</td>
            <td>$300</td>
            <td>$400</td>
            <td>$500</td>
            <td>$1,000</td>
        </tr>
        <tr>
            <td>
                <div class="price-matchs">
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                    <span class="price-plus">+</span>
                    <span class="price-ball red star"></span>
                </div>
            </td>
            <td>$100</td>
            <td>$200</td>
            <td>$300</td>
            <td>$400</td>
            <td>$500</td>
            <td>$1,000</td>
        </tr>
        <tr>
            <td>
                <div class="price-matchs">
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                </div>
            </td>
            <td>$7</td>
            <td>$14</td>
            <td>$21</td>
            <td>$28</td>
            <td>$35</td>
            <td>$70</td>
        </tr>
        <tr>
            <td>
                <div class="price-matchs">
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                    <span class="price-plus">+</span>
                    <span class="price-ball red star"></span>
                </div>
            </td>
            <td>$7</td>
            <td>$14</td>
            <td>$21</td>
            <td>$28</td>
            <td>$35</td>
            <td>$70</td>
        </tr>
        <tr>
            <td>
                <div class="price-matchs">
                    <span class="price-ball gray"></span>
                    <span class="price-plus">+</span>
                    <span class="price-ball red star"></span>
                </div>
            </td>
            <td>$4</td>
            <td>$8</td>
            <td>$12</td>
            <td>$16</td>
            <td>$20</td>
            <td>$40</td>
        </tr>
        <tr>
            <td>
                <div class="price-matchs">
                    <span class="price-ball gray"></span>
                    <span class="price-plus">+</span>
                    <span class="price-ball red star"></span>
                </div>
            </td>
            <td>$4</td>
            <td>$8</td>
            <td>$12</td>
            <td>$16</td>
            <td>$20</td>
            <td>$40</td>
        </tr>
    </table>
</div>