<div class="container-1">
    <h1>Illinois Lucky-Lotto Odds Calculator</h1>
    <table>
        <tr>
            <th>Match</th>
            <th>Prize</th>
            <th>Odds</th>
        </tr>
        <tr>
            <td>
                <div class="price-matchs">
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                </div>
            </td>
            <td>Jackpot</td>
            <td>1:1,221,759</td>
        </tr>
        <tr>
            <td>
                <div class="price-matchs">
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                </div>
            </td>
            <td>$200</td>
            <td>1:6,109</td>
        </tr>
        <tr>
            <td>
                <div class="price-matchs">
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                </div>
            </td>
            <td>$15</td>
            <td>1:157</td>
        </tr>
        <tr>
            <td>
                <div class="price-matchs">
                    <span class="price-ball gray"></span>
                    <span class="price-ball gray"></span>
                </div>
            </td>
            <td>$1</td>
            <td>1:12</td>
        </tr>
    </table>
</div>

<div>
    <p>Gambling addication hotline: 1-800-522-4700</p>
</div>