.number-grid {
    padding-top: 1em;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.number-grid-item {
    width: 2.7em;
    height: 2.7em;
    z-index: 1;
    border-radius: 50%;
    text-align: center;
    line-height: 2.7em;
    margin: 0.3em;
    font-size: 1.2em;
    font-weight: 700;
    background-color: #f0f0f0;
    color: #111;
    cursor: pointer;
    display: inline-block;
}

.number-grid-item.picked {
    background-color: #f44336;
}

.quick-pick {
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    height: 48px;
    justify-content: center;
    width: 140px;
}

.exc-btn-stroke--luckydaylotto {
    border-color: #008299;
    color: #008299;
}

.exc-btn-stroke {
    background-color: transparent;
    border: 2px solid;
}

.exc-btn {
    border-radius: 3em;
    float: right;
}

.quick-pick:hover {
    background-color: rgba(0, 130, 153, 0.1);
    color: #008299;
}